wf_g_final.json
{"updatedAt":"2026-04-13T00:30:16.694Z","createdAt":"2026-04-12T19:52:00.113Z","id":"mqGAnpudc7LgYOwV","name":"Workflow G — Off-Market New Lead → Score → CRM → Alert","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"offmarket-new","responseMode":"onReceived","options":{},"responseData":"firstEntryJson"},"id":"g001","name":"Webhook — Novo Lead Off-Market","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,300],"webhookId":"ag-wh-offmarket-new-2026"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\n\n// Validate required fields\nif (!body.nome || body.nome.trim() === '') {\n  throw new Error('Campo obrigatório em falta: nome');\n}\n\n// Set score_status to pending\nbody.score_status = 'pending_score';\nbody.source = body.source || 'manual';\nbody.status = body.status || 'new';\nbody.urgency = body.urgency || 'unknown';\n\nreturn [{ json: body }];"},"id":"g002","name":"Code — Validar e Normalizar","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,300]},{"parameters":{"method":"POST","url":"https://www.agencygroup.pt/api/offmarket-leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-cron-secret","value":"8729a306ef23546efe02151b44168d87a4deffaca11ce6e63d56f234caed185b"},{"name":"Content-Type","value":"application/json"},{"name":"User-Agent","value":"n8n-agencygroup/2.15.1"}]},"sendBody":true,"bodyContentType":"json","bodyParameters":{"parameters":[{"name":"nome","value":"={{ $json.nome }}"},{"name":"cidade","value":"={{ $json.cidade || null }}"},{"name":"tipo_ativo","value":"={{ $json.tipo_ativo || null }}"},{"name":"area_m2","value":"={{ $json.area_m2 || null }}"},{"name":"price_ask","value":"={{ $json.price_ask || null }}"},{"name":"urgency","value":"={{ $json.urgency || \"unknown\" }}"},{"name":"contacto","value":"={{ $json.contacto || null }}"},{"name":"owner_type","value":"={{ $json.owner_type || null }}"},{"name":"source","value":"={{ $json.source || \"n8n\" }}"},{"name":"status","value":"new"},{"name":"score_status","value":"pending_score"}]},"options":{}},"id":"g003","name":"HTTP — Criar Lead no Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,300],"continueOnFail":true},{"parameters":{"jsCode":"const lead = $input.first().json;\n\n// Simple scoring: cidade + tipo_ativo + urgency + price_ask\nlet score = 30; // base\n\nconst hotCities = ['Lisboa', 'Cascais', 'Comporta', 'Porto', 'Algarve', 'Funchal'];\nif (hotCities.some(c => (lead.cidade || '').includes(c))) score += 20;\n\nif (lead.price_ask) {\n  if (lead.price_ask >= 3000000) score += 25;\n  else if (lead.price_ask >= 1000000) score += 20;\n  else if (lead.price_ask >= 500000) score += 10;\n}\n\nif (lead.urgency === 'high') score += 15;\nelse if (lead.urgency === 'medium') score += 8;\n\nif (lead.contacto) score += 5;\nif (lead.tipo_ativo === 'herdade' || lead.tipo_ativo === 'quinta') score += 5;\n\nscore = Math.min(score, 100);\n\nconst tier = score >= 70 ? 'A' : score >= 40 ? 'B' : 'C';\n\nreturn [{ json: { ...lead, computed_score: score, tier } }];"},"id":"g004","name":"Code — Calcular Score","type":"n8n-nodes-base.code","typeVersion":2,"position":[840,300]},{"parameters":{"method":"PATCH","url":"=https://isbfiofwpxqqpgxoftph.supabase.co/rest/v1/offmarket_leads?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzYmZpb2Z3cHhxcXBneG9mdHBoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIyMDc4MSwiZXhwIjoyMDkwNzk2NzgxfQ.uqhKUsiEVLzFJ8f5e8ZWQFwJiZqDR-tYkgyOwwv7tcU"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzYmZpb2Z3cHhxcXBneG9mdHBoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIyMDc4MSwiZXhwIjoyMDkwNzk2NzgxfQ.uqhKUsiEVLzFJ8f5e8ZWQFwJiZqDR-tYkgyOwwv7tcU"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"bodyContentType":"json","bodyParameters":{"parameters":[{"name":"score","value":"={{ $json.computed_score }}"},{"name":"score_status","value":"scored"}]},"options":{}},"id":"g005","name":"HTTP — Actualizar Score","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,300],"continueOnFail":true},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.computed_score }}","operation":"largerEqual","value2":70}]}},"id":"g006","name":"IF — Score Alto (≥70)?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2500,300]},{"parameters":{"url":"https://api.resend.com/emails","method":"POST","sendHeaders":true,"headers":{"parameters":[{"name":"Authorization","value":"Bearer {{$env.RESEND_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=","value":"={{ JSON.stringify({ from: 'Agency Group <noreply@agencygroup.pt>', to: ['geral@agencygroup.pt'], subject: '🔥 Lead Off-Market Score Alto: ' + $json.nome + ' (' + $json.computed_score + '/100)', text: 'LEAD OFF-MARKET SCORE ALTO\n\nNome: ' + $json.nome + '\nScore: ' + $json.computed_score + '/100 (Tier ' + $json.tier + ')\nCidade: ' + ($json.cidade||'—') + '\nTipo: ' + ($json.tipo_ativo||'—') + '\nPreço: ' + ($json.price_ask ? '€' + ($json.price_ask/1000).toFixed(0) + 'K' : '—') + '\nUrgência: ' + $json.urgency + '\nContacto: ' + ($json.contacto||'—') + '\nFonte: ' + $json.source + '\n\nPortal: ' + $env.NEXT_PUBLIC_SITE_URL + '/portal' }) }}"}]},"options":{}},"id":"g007","name":"Email — Alerta Score Alto","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2720,200],"continueOnFail":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: \"ok\", score: $json.computed_score, tier: $json.tier }) }}"},"id":"g008","name":"Respond — 200 OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2720,400]},{"id":"g009a","name":"HTTP — Match Buyers","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,300],"parameters":{"method":"POST","url":"=https://www.agencygroup.pt/api/offmarket-leads/{{ $(\"HTTP — Criar Lead no Supabase\").item.json.id }}/match-buyers","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-cron-secret","value":"8729a306ef23546efe02151b44168d87a4deffaca11ce6e63d56f234caed185b"},{"name":"Content-Type","value":"application/json"},{"name":"User-Agent","value":"n8n-railway/2.15.1"}]},"sendBody":true,"bodyContentType":"json","jsonBody":"{}","options":{"response":{"response":{"responseFormat":"json"}}}},"continueOnFail":true},{"id":"g009b","name":"HTTP — Price Intel","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,300],"parameters":{"method":"POST","url":"=https://www.agencygroup.pt/api/offmarket-leads/{{ $(\"HTTP — Criar Lead no Supabase\").item.json.id }}/price-intel","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-cron-secret","value":"8729a306ef23546efe02151b44168d87a4deffaca11ce6e63d56f234caed185b"},{"name":"Content-Type","value":"application/json"},{"name":"User-Agent","value":"n8n-railway/2.15.1"}]},"sendBody":true,"bodyContentType":"json","jsonBody":"{}","options":{}},"continueOnFail":true},{"id":"g009c","name":"HTTP — Deal Eval","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1720,300],"parameters":{"method":"POST","url":"=https://www.agencygroup.pt/api/offmarket-leads/{{ $(\"HTTP — Criar Lead no Supabase\").item.json.id }}/deal-eval","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-cron-secret","value":"8729a306ef23546efe02151b44168d87a4deffaca11ce6e63d56f234caed185b"},{"name":"Content-Type","value":"application/json"},{"name":"User-Agent","value":"n8n-railway/2.15.1"}]},"sendBody":true,"bodyContentType":"json","jsonBody":"{}","options":{}},"continueOnFail":true},{"id":"g009d","name":"Code — Merge Final","type":"n8n-nodes-base.code","typeVersion":2,"position":[1940,300],"parameters":{"jsCode":"// Merge all enrichment data for final payload\nconst lead = $(\"HTTP — Criar Lead no Supabase\").item.json;\nconst score = $(\"Code — Calcular Score\").item.json;\n\n// Try to get deal-eval data\nlet evalData = {};\ntry { evalData = $(\"HTTP — Deal Eval\").item.json; } catch(e) {}\n\n// Try to get match-buyers data\nlet matchData = {};\ntry { matchData = $(\"HTTP — Match Buyers\").item.json; } catch(e) {}\n\nreturn [{\n  json: {\n    id: lead.id,\n    nome: lead.nome,\n    score: score.score ?? lead.score,\n    tier: score.tier,\n    cidade: lead.cidade,\n    price_ask: lead.price_ask,\n    deal_evaluation_score: evalData.deal_evaluation_score ?? null,\n    master_attack_rank: evalData.master_attack_rank ?? null,\n    classification: evalData.classification ?? null,\n    execution_probability: evalData.execution_probability ?? null,\n    dps: matchData.deal_priority_score ?? null,\n    matched_buyers: matchData.matched_buyers_count ?? null,\n    attack: matchData.attack_recommendation ?? null,\n    preclose: matchData.preclose_candidate ?? false,\n    fonte: lead.source\n  }\n}];"}}],"connections":{"Webhook — Novo Lead Off-Market":{"main":[[{"node":"Code — Validar e Normalizar","type":"main","index":0}]]},"Code — Validar e Normalizar":{"main":[[{"node":"HTTP — Criar Lead no Supabase","type":"main","index":0}]]},"HTTP — Criar Lead no Supabase":{"main":[[{"node":"Code — Calcular Score","type":"main","index":0}]]},"Code — Calcular Score":{"main":[[{"node":"HTTP — Actualizar Score","type":"main","index":0}]]},"IF — Score Alto (≥70)?":{"main":[[{"node":"Email — Alerta Score Alto","type":"main","index":0}],[{"node":"Respond — 200 OK","type":"main","index":0}]]},"Email — Alerta Score Alto":{"main":[[{"node":"Respond — 200 OK","type":"main","index":0}]]},"HTTP — Actualizar Score":{"main":[[{"node":"HTTP — Match Buyers","type":"main","index":0}]]},"HTTP — Match Buyers":{"main":[[{"node":"HTTP — Price Intel","type":"main","index":0}]]},"HTTP — Price Intel":{"main":[[{"node":"HTTP — Deal Eval","type":"main","index":0}]]},"HTTP — Deal Eval":{"main":[[{"node":"Code — Merge Final","type":"main","index":0}]]},"Code — Merge Final":{"main":[[{"node":"IF — Score Alto (≥70)?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":false,"timezone":"Europe/Lisbon","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"4980f7dd-0117-4cb5-82e6-4d02053b2ec9","activeVersionId":"4980f7dd-0117-4cb5-82e6-4d02053b2ec9","versionCounter":35,"triggerCount":1,"shared":[{"updatedAt":"2026-04-12T19:52:00.113Z","createdAt":"2026-04-12T19:52:00.113Z","role":"workflow:owner","workflowId":"mqGAnpudc7LgYOwV","projectId":"rGttN5UDfkyXTuBt","project":{"updatedAt":"2026-04-12T19:50:38.704Z","createdAt":"2026-04-12T19:49:47.590Z","id":"rGttN5UDfkyXTuBt","name":"Agency Group <geral@agencygroup.pt>","type":"personal","icon":null,"description":null,"creatorId":"e55730fa-adc8-4b3e-a511-e4a2feb56b11"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-13T00:30:16.695Z","createdAt":"2026-04-13T00:30:16.695Z","versionId":"4980f7dd-0117-4cb5-82e6-4d02053b2ec9","workflowId":"mqGAnpudc7LgYOwV","nodes":[{"parameters":{"httpMethod":"POST","path":"offmarket-new","responseMode":"onReceived","options":{},"responseData":"firstEntryJson"},"id":"g001","name":"Webhook — Novo Lead Off-Market","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,300],"webhookId":"ag-wh-offmarket-new-2026"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\n\n// Validate required fields\nif (!body.nome || body.nome.trim() === '') {\n  throw new Error('Campo obrigatório em falta: nome');\n}\n\n// Set score_status to pending\nbody.score_status = 'pending_score';\nbody.source = body.source || 'manual';\nbody.status = body.status || 'new';\nbody.urgency = body.urgency || 'unknown';\n\nreturn [{ json: body }];"},"id":"g002","name":"Code — Validar e Normalizar","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,300]},{"parameters":{"method":"POST","url":"https://www.agencygroup.pt/api/offmarket-leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-cron-secret","value":"8729a306ef23546efe02151b44168d87a4deffaca11ce6e63d56f234caed185b"},{"name":"Content-Type","value":"application/json"},{"name":"User-Agent","value":"n8n-agencygroup/2.15.1"}]},"sendBody":true,"bodyContentType":"json","bodyParameters":{"parameters":[{"name":"nome","value":"={{ $json.nome }}"},{"name":"cidade","value":"={{ $json.cidade || null }}"},{"name":"tipo_ativo","value":"={{ $json.tipo_ativo || null }}"},{"name":"area_m2","value":"={{ $json.area_m2 || null }}"},{"name":"price_ask","value":"={{ $json.price_ask || null }}"},{"name":"urgency","value":"={{ $json.urgency || \"unknown\" }}"},{"name":"contacto","value":"={{ $json.contacto || null }}"},{"name":"owner_type","value":"={{ $json.owner_type || null }}"},{"name":"source","value":"={{ $json.source || \"n8n\" }}"},{"name":"status","value":"new"},{"name":"score_status","value":"pending_score"}]},"options":{}},"id":"g003","name":"HTTP — Criar Lead no Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,300],"continueOnFail":true},{"parameters":{"jsCode":"const lead = $input.first().json;\n\n// Simple scoring: cidade + tipo_ativo + urgency + price_ask\nlet score = 30; // base\n\nconst hotCities = ['Lisboa', 'Cascais', 'Comporta', 'Porto', 'Algarve', 'Funchal'];\nif (hotCities.some(c => (lead.cidade || '').includes(c))) score += 20;\n\nif (lead.price_ask) {\n  if (lead.price_ask >= 3000000) score += 25;\n  else if (lead.price_ask >= 1000000) score += 20;\n  else if (lead.price_ask >= 500000) score += 10;\n}\n\nif (lead.urgency === 'high') score += 15;\nelse if (lead.urgency === 'medium') score += 8;\n\nif (lead.contacto) score += 5;\nif (lead.tipo_ativo === 'herdade' || lead.tipo_ativo === 'quinta') score += 5;\n\nscore = Math.min(score, 100);\n\nconst tier = score >= 70 ? 'A' : score >= 40 ? 'B' : 'C';\n\nreturn [{ json: { ...lead, computed_score: score, tier } }];"},"id":"g004","name":"Code — Calcular Score","type":"n8n-nodes-base.code","typeVersion":2,"position":[840,300]},{"parameters":{"method":"PATCH","url":"=https://isbfiofwpxqqpgxoftph.supabase.co/rest/v1/offmarket_leads?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzYmZpb2Z3cHhxcXBneG9mdHBoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIyMDc4MSwiZXhwIjoyMDkwNzk2NzgxfQ.uqhKUsiEVLzFJ8f5e8ZWQFwJiZqDR-tYkgyOwwv7tcU"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzYmZpb2Z3cHhxcXBneG9mdHBoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIyMDc4MSwiZXhwIjoyMDkwNzk2NzgxfQ.uqhKUsiEVLzFJ8f5e8ZWQFwJiZqDR-tYkgyOwwv7tcU"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"bodyContentType":"json","bodyParameters":{"parameters":[{"name":"score","value":"={{ $json.computed_score }}"},{"name":"score_status","value":"scored"}]},"options":{}},"id":"g005","name":"HTTP — Actualizar Score","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,300],"continueOnFail":true},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.computed_score }}","operation":"largerEqual","value2":70}]}},"id":"g006","name":"IF — Score Alto (≥70)?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2500,300]},{"parameters":{"url":"https://api.resend.com/emails","method":"POST","sendHeaders":true,"headers":{"parameters":[{"name":"Authorization","value":"Bearer {{$env.RESEND_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=","value":"={{ JSON.stringify({ from: 'Agency Group <noreply@agencygroup.pt>', to: ['geral@agencygroup.pt'], subject: '🔥 Lead Off-Market Score Alto: ' + $json.nome + ' (' + $json.computed_score + '/100)', text: 'LEAD OFF-MARKET SCORE ALTO\n\nNome: ' + $json.nome + '\nScore: ' + $json.computed_score + '/100 (Tier ' + $json.tier + ')\nCidade: ' + ($json.cidade||'—') + '\nTipo: ' + ($json.tipo_ativo||'—') + '\nPreço: ' + ($json.price_ask ? '€' + ($json.price_ask/1000).toFixed(0) + 'K' : '—') + '\nUrgência: ' + $json.urgency + '\nContacto: ' + ($json.contacto||'—') + '\nFonte: ' + $json.source + '\n\nPortal: ' + $env.NEXT_PUBLIC_SITE_URL + '/portal' }) }}"}]},"options":{}},"id":"g007","name":"Email — Alerta Score Alto","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2720,200],"continueOnFail":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: \"ok\", score: $json.computed_score, tier: $json.tier }) }}"},"id":"g008","name":"Respond — 200 OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2720,400]},{"id":"g009a","name":"HTTP — Match Buyers","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,300],"parameters":{"method":"POST","url":"=https://www.agencygroup.pt/api/offmarket-leads/{{ $(\"HTTP — Criar Lead no Supabase\").item.json.id }}/match-buyers","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-cron-secret","value":"8729a306ef23546efe02151b44168d87a4deffaca11ce6e63d56f234caed185b"},{"name":"Content-Type","value":"application/json"},{"name":"User-Agent","value":"n8n-railway/2.15.1"}]},"sendBody":true,"bodyContentType":"json","jsonBody":"{}","options":{"response":{"response":{"responseFormat":"json"}}}},"continueOnFail":true},{"id":"g009b","name":"HTTP — Price Intel","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,300],"parameters":{"method":"POST","url":"=https://www.agencygroup.pt/api/offmarket-leads/{{ $(\"HTTP — Criar Lead no Supabase\").item.json.id }}/price-intel","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-cron-secret","value":"8729a306ef23546efe02151b44168d87a4deffaca11ce6e63d56f234caed185b"},{"name":"Content-Type","value":"application/json"},{"name":"User-Agent","value":"n8n-railway/2.15.1"}]},"sendBody":true,"bodyContentType":"json","jsonBody":"{}","options":{}},"continueOnFail":true},{"id":"g009c","name":"HTTP — Deal Eval","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1720,300],"parameters":{"method":"POST","url":"=https://www.agencygroup.pt/api/offmarket-leads/{{ $(\"HTTP — Criar Lead no Supabase\").item.json.id }}/deal-eval","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-cron-secret","value":"8729a306ef23546efe02151b44168d87a4deffaca11ce6e63d56f234caed185b"},{"name":"Content-Type","value":"application/json"},{"name":"User-Agent","value":"n8n-railway/2.15.1"}]},"sendBody":true,"bodyContentType":"json","jsonBody":"{}","options":{}},"continueOnFail":true},{"id":"g009d","name":"Code — Merge Final","type":"n8n-nodes-base.code","typeVersion":2,"position":[1940,300],"parameters":{"jsCode":"// Merge all enrichment data for final payload\nconst lead = $(\"HTTP — Criar Lead no Supabase\").item.json;\nconst score = $(\"Code — Calcular Score\").item.json;\n\n// Try to get deal-eval data\nlet evalData = {};\ntry { evalData = $(\"HTTP — Deal Eval\").item.json; } catch(e) {}\n\n// Try to get match-buyers data\nlet matchData = {};\ntry { matchData = $(\"HTTP — Match Buyers\").item.json; } catch(e) {}\n\nreturn [{\n  json: {\n    id: lead.id,\n    nome: lead.nome,\n    score: score.score ?? lead.score,\n    tier: score.tier,\n    cidade: lead.cidade,\n    price_ask: lead.price_ask,\n    deal_evaluation_score: evalData.deal_evaluation_score ?? null,\n    master_attack_rank: evalData.master_attack_rank ?? null,\n    classification: evalData.classification ?? null,\n    execution_probability: evalData.execution_probability ?? null,\n    dps: matchData.deal_priority_score ?? null,\n    matched_buyers: matchData.matched_buyers_count ?? null,\n    attack: matchData.attack_recommendation ?? null,\n    preclose: matchData.preclose_candidate ?? false,\n    fonte: lead.source\n  }\n}];"}}],"connections":{"Webhook — Novo Lead Off-Market":{"main":[[{"node":"Code — Validar e Normalizar","type":"main","index":0}]]},"Code — Validar e Normalizar":{"main":[[{"node":"HTTP — Criar Lead no Supabase","type":"main","index":0}]]},"HTTP — Criar Lead no Supabase":{"main":[[{"node":"Code — Calcular Score","type":"main","index":0}]]},"Code — Calcular Score":{"main":[[{"node":"HTTP — Actualizar Score","type":"main","index":0}]]},"IF — Score Alto (≥70)?":{"main":[[{"node":"Email — Alerta Score Alto","type":"main","index":0}],[{"node":"Respond — 200 OK","type":"main","index":0}]]},"Email — Alerta Score Alto":{"main":[[{"node":"Respond — 200 OK","type":"main","index":0}]]},"HTTP — Actualizar Score":{"main":[[{"node":"HTTP — Match Buyers","type":"main","index":0}]]},"HTTP — Match Buyers":{"main":[[{"node":"HTTP — Price Intel","type":"main","index":0}]]},"HTTP — Price Intel":{"main":[[{"node":"HTTP — Deal Eval","type":"main","index":0}]]},"HTTP — Deal Eval":{"main":[[{"node":"Code — Merge Final","type":"main","index":0}]]},"Code — Merge Final":{"main":[[{"node":"IF — Score Alto (≥70)?","type":"main","index":0}]]}},"authors":"Agency Group","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-13T00:30:16.765Z","id":28,"workflowId":"mqGAnpudc7LgYOwV","versionId":"4980f7dd-0117-4cb5-82e6-4d02053b2ec9","event":"activated","userId":"e55730fa-adc8-4b3e-a511-e4a2feb56b11"},{"createdAt":"2026-04-13T00:30:16.744Z","id":27,"workflowId":"mqGAnpudc7LgYOwV","versionId":"4980f7dd-0117-4cb5-82e6-4d02053b2ec9","event":"deactivated","userId":"e55730fa-adc8-4b3e-a511-e4a2feb56b11"}]}}