n8n-workflows/post-close-automation.json
{
  "name": "AG — Post-Close Automation (Escritura → Reviews → Referrals)",
  "nodes": [
    {
      "id": "trigger-webhook",
      "name": "Escritura Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "path": "post-close",
        "method": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "validate-payload",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst required = ['contact_id','contact_name','contact_email','contact_phone','property_ref','deal_value','agent_email'];\nconst missing = required.filter(k => !body[k]);\nif (missing.length) throw new Error('Missing fields: ' + missing.join(', '));\nreturn [{ json: { ...body, triggered_at: new Date().toISOString() } }];"
      }
    },
    {
      "id": "wait-keys",
      "name": "Wait 1h (Key Handover)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [640, 300],
      "parameters": {
        "amount": 1,
        "unit": "hours"
      }
    },
    {
      "id": "send-welcome-email",
      "name": "Welcome Email (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [840, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.RESEND_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={{ JSON.stringify({ from: 'Agency Group <noreply@agencygroup.pt>', to: $json.contact_email, subject: 'Bem-vindo à sua nova casa 🏡 — Agency Group', html: '<h2 style=\"font-family:serif;font-weight:300\">Parabéns, ' + $json.contact_name + '!</h2><p>É com enorme prazer que finalizamos a aquisição do seu imóvel ' + $json.property_ref + '. Estamos ao seu dispor para qualquer apoio — remodelação, decoração, gestão ou arrendamento.</p><p style=\"font-size:.85rem;color:#666\">Agency Group · AMI 22506 · +351 919 948 986</p>' }) }}"
      }
    },
    {
      "id": "whatsapp-congrats",
      "name": "WhatsApp Congratulations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [840, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.agencygroup.pt/api/automation/whatsapp-send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.INTERNAL_API_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={{ JSON.stringify({ phone: $json.contact_phone, message: 'Parabéns ' + $json.contact_name + '! 🏡 A sua nova casa já é sua. Se precisar de qualquer apoio — remodelação, gestão ou AL — a Agency Group está aqui. Muito obrigado pela confiança! — ' + $json.agent_email.split('@')[0] }) }}"
      }
    },
    {
      "id": "wait-3-days",
      "name": "Wait 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1040, 300],
      "parameters": {
        "amount": 3,
        "unit": "days"
      }
    },
    {
      "id": "send-review-request",
      "name": "Google Review Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1240, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.RESEND_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={{ JSON.stringify({ from: 'Agency Group <noreply@agencygroup.pt>', to: $json.contact_email, subject: 'A sua experiência conta muito para nós 🌟', html: '<h2 style=\"font-family:serif;font-weight:300\">Olá ' + $json.contact_name + ',</h2><p>Esperamos que esteja a adorar a sua nova casa! Levaria apenas 2 minutos a partilhar a sua experiência connosco no Google. A sua opinião ajuda outros compradores a encontrar o apoio certo.</p><p><a href=\"https://g.page/agencygroup-pt/review\" style=\"display:inline-block;padding:12px 24px;background:#1c4a35;color:#c9a96e;text-decoration:none;font-family:sans-serif\">⭐ Deixar Avaliação no Google</a></p><p style=\"font-size:.85rem;color:#666\">Agency Group · AMI 22506</p>' }) }}"
      }
    },
    {
      "id": "create-followup-task",
      "name": "Create 3-Month Follow-up Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1240, 400],
      "parameters": {
        "method": "POST",
        "url": "https://www.agencygroup.pt/api/crm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.INTERNAL_API_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={{ JSON.stringify({ _email: $json.contact_email, next_followup_at: new Date(Date.now() + 90 * 24 * 3600 * 1000).toISOString(), ai_suggested_action: 'Check-in 3 meses pós-escritura. Potencial AL, renovação ou segunda aquisição. Pedir referências.', tags: ['post-close', 'review-sent'] }) }}"
      }
    },
    {
      "id": "wait-90-days",
      "name": "Wait 90 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1440, 300],
      "parameters": {
        "amount": 90,
        "unit": "days"
      }
    },
    {
      "id": "referral-campaign",
      "name": "Referral Request Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1640, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.RESEND_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={{ JSON.stringify({ from: 'Agency Group <noreply@agencygroup.pt>', to: $json.contact_email, subject: 'Conhece alguém que queira comprar ou vender em Portugal?', html: '<h2 style=\"font-family:serif;font-weight:300\">Olá ' + $json.contact_name + ',</h2><p>Espero que esteja a desfrutar da sua nova casa! Tenho uma pergunta: conhece alguém — familiar, amigo ou colega — que esteja a pensar em comprar, vender ou investir em Portugal?</p><p>Cada referência bem-sucedida beneficia de atenção VIP da nossa equipa.</p><p style=\"font-size:.85rem;color:#666\">Agency Group · AMI 22506 · geral@agencygroup.pt</p>' }) }}"
      }
    },
    {
      "id": "log-workflow",
      "name": "Log Completion to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1840, 300],
      "parameters": {
        "method": "POST",
        "url": "https://www.agencygroup.pt/api/crm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.INTERNAL_API_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={{ JSON.stringify({ _email: $json.contact_email, tags: ['post-close', 'review-sent', 'referral-sent', 'post-close-complete'], ai_summary: 'Post-close automation completa: boas-vindas, review request, referral campaign enviados.' }) }}"
      }
    }
  ],
  "connections": {
    "Escritura Webhook": {
      "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]]
    },
    "Validate Payload": {
      "main": [[{ "node": "Wait 1h (Key Handover)", "type": "main", "index": 0 }]]
    },
    "Wait 1h (Key Handover)": {
      "main": [
        [{ "node": "Welcome Email (Resend)", "type": "main", "index": 0 }],
        [{ "node": "WhatsApp Congratulations", "type": "main", "index": 0 }]
      ]
    },
    "Welcome Email (Resend)": {
      "main": [[{ "node": "Wait 3 Days", "type": "main", "index": 0 }]]
    },
    "WhatsApp Congratulations": {
      "main": [[{ "node": "Wait 3 Days", "type": "main", "index": 0 }]]
    },
    "Wait 3 Days": {
      "main": [
        [{ "node": "Google Review Request", "type": "main", "index": 0 }],
        [{ "node": "Create 3-Month Follow-up Task", "type": "main", "index": 0 }]
      ]
    },
    "Google Review Request": {
      "main": [[{ "node": "Wait 90 Days", "type": "main", "index": 0 }]]
    },
    "Create 3-Month Follow-up Task": {
      "main": [[{ "node": "Wait 90 Days", "type": "main", "index": 0 }]]
    },
    "Wait 90 Days": {
      "main": [[{ "node": "Referral Request Email", "type": "main", "index": 0 }]]
    },
    "Referral Request Email": {
      "main": [[{ "node": "Log Completion to Supabase", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Triggered on escritura (deed signing). Sequence: 1h wait → Welcome email + WA → 3 days → Google Review request + CRM follow-up task → 90 days → Referral campaign → Log completion. Activate via POST /webhook/post-close with contact/deal data."
  }
}
