n8n-workflows/wf_g_current.json
{"updatedAt":"2026-04-12T21:34:33.151Z","createdAt":"2026-04-12T21:29:39.657Z","id":"eeg1JnLLjm3HOnZz","name":"G — Off-Market Lead Ingestor (Apify → Supabase)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"offmarket-new","responseMode":"onReceived","options":{}},"id":"g001","name":"Webhook — Novo Lead Off-Market","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,300],"webhookId":"ag-wh-offmarket-new-2026"},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst body = raw.body || raw;\nconst lead = {\n  nome: body.nome || body.title || body.address || 'Lead Apify ' + new Date().toISOString().substring(0,10),\n  cidade: body.cidade || body.city || body.location || 'Lisboa',\n  localizacao: body.localizacao || body.morada || body.address || null,\n  price_ask: body.price_ask || body.price || null,\n  tipo_ativo: body.tipo_ativo || body.propertyType || 'apartamento',\n  source: body.source || 'apify',\n  status: 'new',\n  urgency: body.urgency || 'unknown',\n  score_status: 'pending_score',\n  contacto: body.contacto || body.contact || null,\n  notes: body.notes || body.notas || body.description ? (body.notes || body.notas || body.description || '').substring(0, 500) : null\n};\nreturn [{ json: lead }];"},"id":"g002","name":"Code — Normalizar Lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300]},{"parameters":{"method":"POST","url":"https://isbfiofwpxqqpgxoftph.supabase.co/rest/v1/offmarket_leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzYmZpb2Z3cHhxcXBneG9mdHBoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIyMDc4MSwiZXhwIjoyMDkwNzk2NzgxfQ.uqhKUsiEVLzFJ8f5e8ZWQFwJiZqDR-tYkgyOwwv7tcU"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzYmZpb2Z3cHhxcXBneG9mdHBoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIyMDc4MSwiZXhwIjoyMDkwNzk2NzgxfQ.uqhKUsiEVLzFJ8f5e8ZWQFwJiZqDR-tYkgyOwwv7tcU"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify($json) }}","options":{}},"id":"g003","name":"Supabase — Inserir Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,300],"continueOnFail":true},{"parameters":{"jsCode":"const resp = $input.first().json;\nconst lead = Array.isArray(resp) ? resp[0] : resp;\nif (!lead || lead.code || lead.error) {\n  console.log('Supabase insert error:', JSON.stringify(resp));\n  return [{ json: { id: null, _error: true, _raw: JSON.stringify(resp).substring(0,200) } }];\n}\nlet score = 30;\nconst hotCities = ['Lisboa','Cascais','Comporta','Porto','Algarve','Funchal','Sintra'];\nif (hotCities.some(c => (lead.cidade||'').includes(c))) score += 20;\nif (lead.price_ask) {\n  if (lead.price_ask >= 3000000) score += 25;\n  else if (lead.price_ask >= 1000000) score += 20;\n  else if (lead.price_ask >= 500000) score += 10;\n}\nif (lead.urgency === 'high') score += 15;\nelse if (lead.urgency === 'medium') score += 8;\nif (lead.contacto) score += 5;\nscore = Math.min(score, 100);\nconst tier = score >= 70 ? 'A' : score >= 40 ? 'B' : 'C';\nreturn [{ json: { ...lead, computed_score: score, tier } }];"},"id":"g004","name":"Code — Score + Tier","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300]},{"parameters":{"method":"PATCH","url":"=https://isbfiofwpxqqpgxoftph.supabase.co/rest/v1/offmarket_leads?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzYmZpb2Z3cHhxcXBneG9mdHBoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIyMDc4MSwiZXhwIjoyMDkwNzk2NzgxfQ.uqhKUsiEVLzFJ8f5e8ZWQFwJiZqDR-tYkgyOwwv7tcU"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzYmZpb2Z3cHhxcXBneG9mdHBoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIyMDc4MSwiZXhwIjoyMDkwNzk2NzgxfQ.uqhKUsiEVLzFJ8f5e8ZWQFwJiZqDR-tYkgyOwwv7tcU"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ score: $json.computed_score, score_status: 'scored', score_updated_at: new Date().toISOString() }) }}","options":{}},"id":"g005","name":"Supabase — Actualizar Score","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,300],"continueOnFail":true},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.computed_score }}","operation":"largerEqual","value2":70}]}},"id":"g006","name":"IF — Score ≥70?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1300,300]},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{$env.RESEND_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ from: 'Deal Machine <noreply@agencygroup.pt>', to: ['geral@agencygroup.pt'], subject: '🔥 Off-Market Score Alto: ' + $json.nome + ' (' + $json.computed_score + '/100 Tier ' + $json.tier + ')', text: 'LEAD OFF-MARKET\\n\\nNome: ' + $json.nome + '\\nScore: ' + $json.computed_score + '/100 Tier ' + $json.tier + '\\nCidade: ' + ($json.cidade||'—') + '\\nPreço: ' + ($json.price_ask ? '€' + Number($json.price_ask/1000).toFixed(0) + 'K' : '—') + '\\nFonte: ' + $json.source + '\\nPortal: https://www.agencygroup.pt/portal' }) }}","options":{}},"id":"g007","name":"Email — Alerta Score Alto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,200],"continueOnFail":true},{"parameters":{"jsCode":"const lead = $input.first().json;\nreturn [{ json: { status: 'ok', id: lead.id, score: lead.computed_score, tier: lead.tier, nome: lead.nome } }];"},"id":"g008","name":"Code — Done","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,400]}],"connections":{"Webhook — Novo Lead Off-Market":{"main":[[{"node":"Code — Normalizar Lead","type":"main","index":0}]]},"Code — Normalizar Lead":{"main":[[{"node":"Supabase — Inserir Lead","type":"main","index":0}]]},"Supabase — Inserir Lead":{"main":[[{"node":"Code — Score + Tier","type":"main","index":0}]]},"Code — Score + Tier":{"main":[[{"node":"Supabase — Actualizar Score","type":"main","index":0}]]},"Supabase — Actualizar Score":{"main":[[{"node":"IF — Score ≥70?","type":"main","index":0}]]},"IF — Score ≥70?":{"main":[[{"node":"Email — Alerta Score Alto","type":"main","index":0}],[{"node":"Code — Done","type":"main","index":0}]]},"Email — Alerta Score Alto":{"main":[[{"node":"Code — Done","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"102d52f6-0975-4f3d-9d27-0153c271d8d3","activeVersionId":"102d52f6-0975-4f3d-9d27-0153c271d8d3","versionCounter":8,"triggerCount":1,"shared":[{"updatedAt":"2026-04-12T21:29:39.659Z","createdAt":"2026-04-12T21:29:39.659Z","role":"workflow:owner","workflowId":"eeg1JnLLjm3HOnZz","projectId":"E1kYfUxnyXsjaVpf","project":{"updatedAt":"2026-04-12T21:24:02.736Z","createdAt":"2026-04-12T21:23:23.408Z","id":"E1kYfUxnyXsjaVpf","name":"Agency Group <geral@agencygroup.pt>","type":"personal","icon":null,"description":null,"creatorId":"30b5ab60-6688-453a-9282-ea70360cefec"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-12T21:34:33.153Z","createdAt":"2026-04-12T21:34:33.153Z","versionId":"102d52f6-0975-4f3d-9d27-0153c271d8d3","workflowId":"eeg1JnLLjm3HOnZz","nodes":[{"parameters":{"httpMethod":"POST","path":"offmarket-new","responseMode":"onReceived","options":{}},"id":"g001","name":"Webhook — Novo Lead Off-Market","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,300],"webhookId":"ag-wh-offmarket-new-2026"},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst body = raw.body || raw;\nconst lead = {\n  nome: body.nome || body.title || body.address || 'Lead Apify ' + new Date().toISOString().substring(0,10),\n  cidade: body.cidade || body.city || body.location || 'Lisboa',\n  localizacao: body.localizacao || body.morada || body.address || null,\n  price_ask: body.price_ask || body.price || null,\n  tipo_ativo: body.tipo_ativo || body.propertyType || 'apartamento',\n  source: body.source || 'apify',\n  status: 'new',\n  urgency: body.urgency || 'unknown',\n  score_status: 'pending_score',\n  contacto: body.contacto || body.contact || null,\n  notes: body.notes || body.notas || body.description ? (body.notes || body.notas || body.description || '').substring(0, 500) : null\n};\nreturn [{ json: lead }];"},"id":"g002","name":"Code — Normalizar Lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300]},{"parameters":{"method":"POST","url":"https://isbfiofwpxqqpgxoftph.supabase.co/rest/v1/offmarket_leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzYmZpb2Z3cHhxcXBneG9mdHBoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIyMDc4MSwiZXhwIjoyMDkwNzk2NzgxfQ.uqhKUsiEVLzFJ8f5e8ZWQFwJiZqDR-tYkgyOwwv7tcU"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzYmZpb2Z3cHhxcXBneG9mdHBoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIyMDc4MSwiZXhwIjoyMDkwNzk2NzgxfQ.uqhKUsiEVLzFJ8f5e8ZWQFwJiZqDR-tYkgyOwwv7tcU"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify($json) }}","options":{}},"id":"g003","name":"Supabase — Inserir Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,300],"continueOnFail":true},{"parameters":{"jsCode":"const resp = $input.first().json;\nconst lead = Array.isArray(resp) ? resp[0] : resp;\nif (!lead || lead.code || lead.error) {\n  console.log('Supabase insert error:', JSON.stringify(resp));\n  return [{ json: { id: null, _error: true, _raw: JSON.stringify(resp).substring(0,200) } }];\n}\nlet score = 30;\nconst hotCities = ['Lisboa','Cascais','Comporta','Porto','Algarve','Funchal','Sintra'];\nif (hotCities.some(c => (lead.cidade||'').includes(c))) score += 20;\nif (lead.price_ask) {\n  if (lead.price_ask >= 3000000) score += 25;\n  else if (lead.price_ask >= 1000000) score += 20;\n  else if (lead.price_ask >= 500000) score += 10;\n}\nif (lead.urgency === 'high') score += 15;\nelse if (lead.urgency === 'medium') score += 8;\nif (lead.contacto) score += 5;\nscore = Math.min(score, 100);\nconst tier = score >= 70 ? 'A' : score >= 40 ? 'B' : 'C';\nreturn [{ json: { ...lead, computed_score: score, tier } }];"},"id":"g004","name":"Code — Score + Tier","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300]},{"parameters":{"method":"PATCH","url":"=https://isbfiofwpxqqpgxoftph.supabase.co/rest/v1/offmarket_leads?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzYmZpb2Z3cHhxcXBneG9mdHBoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIyMDc4MSwiZXhwIjoyMDkwNzk2NzgxfQ.uqhKUsiEVLzFJ8f5e8ZWQFwJiZqDR-tYkgyOwwv7tcU"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzYmZpb2Z3cHhxcXBneG9mdHBoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIyMDc4MSwiZXhwIjoyMDkwNzk2NzgxfQ.uqhKUsiEVLzFJ8f5e8ZWQFwJiZqDR-tYkgyOwwv7tcU"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ score: $json.computed_score, score_status: 'scored', score_updated_at: new Date().toISOString() }) }}","options":{}},"id":"g005","name":"Supabase — Actualizar Score","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,300],"continueOnFail":true},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.computed_score }}","operation":"largerEqual","value2":70}]}},"id":"g006","name":"IF — Score ≥70?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1300,300]},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{$env.RESEND_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ from: 'Deal Machine <noreply@agencygroup.pt>', to: ['geral@agencygroup.pt'], subject: '🔥 Off-Market Score Alto: ' + $json.nome + ' (' + $json.computed_score + '/100 Tier ' + $json.tier + ')', text: 'LEAD OFF-MARKET\\n\\nNome: ' + $json.nome + '\\nScore: ' + $json.computed_score + '/100 Tier ' + $json.tier + '\\nCidade: ' + ($json.cidade||'—') + '\\nPreço: ' + ($json.price_ask ? '€' + Number($json.price_ask/1000).toFixed(0) + 'K' : '—') + '\\nFonte: ' + $json.source + '\\nPortal: https://www.agencygroup.pt/portal' }) }}","options":{}},"id":"g007","name":"Email — Alerta Score Alto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,200],"continueOnFail":true},{"parameters":{"jsCode":"const lead = $input.first().json;\nreturn [{ json: { status: 'ok', id: lead.id, score: lead.computed_score, tier: lead.tier, nome: lead.nome } }];"},"id":"g008","name":"Code — Done","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,400]}],"connections":{"Webhook — Novo Lead Off-Market":{"main":[[{"node":"Code — Normalizar Lead","type":"main","index":0}]]},"Code — Normalizar Lead":{"main":[[{"node":"Supabase — Inserir Lead","type":"main","index":0}]]},"Supabase — Inserir Lead":{"main":[[{"node":"Code — Score + Tier","type":"main","index":0}]]},"Code — Score + Tier":{"main":[[{"node":"Supabase — Actualizar Score","type":"main","index":0}]]},"Supabase — Actualizar Score":{"main":[[{"node":"IF — Score ≥70?","type":"main","index":0}]]},"IF — Score ≥70?":{"main":[[{"node":"Email — Alerta Score Alto","type":"main","index":0}],[{"node":"Code — Done","type":"main","index":0}]]},"Email — Alerta Score Alto":{"main":[[{"node":"Code — Done","type":"main","index":0}]]}},"authors":"Agency Group","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-12T21:34:33.278Z","id":3,"workflowId":"eeg1JnLLjm3HOnZz","versionId":"102d52f6-0975-4f3d-9d27-0153c271d8d3","event":"activated","userId":"30b5ab60-6688-453a-9282-ea70360cefec"},{"createdAt":"2026-04-12T21:35:54.901Z","id":5,"workflowId":"eeg1JnLLjm3HOnZz","versionId":"102d52f6-0975-4f3d-9d27-0153c271d8d3","event":"activated","userId":"30b5ab60-6688-453a-9282-ea70360cefec"},{"createdAt":"2026-04-12T21:34:33.257Z","id":2,"workflowId":"eeg1JnLLjm3HOnZz","versionId":"102d52f6-0975-4f3d-9d27-0153c271d8d3","event":"deactivated","userId":"30b5ab60-6688-453a-9282-ea70360cefec"},{"createdAt":"2026-04-12T21:35:54.877Z","id":4,"workflowId":"eeg1JnLLjm3HOnZz","versionId":"102d52f6-0975-4f3d-9d27-0153c271d8d3","event":"deactivated","userId":"30b5ab60-6688-453a-9282-ea70360cefec"}]}}